.options-section {
    display: flex;
    justify-content: space-between;
    padding: 0px 5px 0px 5px;
}

.form-footer #submit-section {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

@media screen and (max-width: 1127px) {
    .options-section {
        flex-direction: column;
    }
}