:root {
    --white-color: #fff;
    --dark-blue: #254255;
}  

.nav-container {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: #254255;
    overflow: hidden;
    width: 100vw;
    top: 0;
    z-index: 100;
}


/* Flex-box container */
.flexbox { 
    max-width: 1128px;
    margin-right: auto;
	margin-left: auto;
    align-items: center;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

@media (max-width: 1024px) {
    .flexbox {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .flexbox-left {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .flexbox-right {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .topNav {
        flex: 1 0 100%;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}

.flexbox-left {
    display: flex;
    align-items: center;

}

.flexbox-right {
    display: flex;
    align-items: center;
}

.flexbox-right .navtags {
    margin-right: 0.75rem;
}

.topNav {
    list-style-type: none;
    display: flex;
}

.navtags {
    color: #fff;
    position: relative;
    text-decoration: none;
    margin: 1.7rem;
}

.navbtn {
    color: #fff;
    position: relative;
    text-decoration: none;
    margin: 1.5rem;
    background-color: #6096BA;
    box-sizing: border-box;
    padding: 16px 36px;
    border-radius: 10px;
}

.navbtn:hover {
    background-color: #2974a6;
}

.selected-btn {
    background-color: #2974a6;
}


/* Css for navtags on hover */
.navtags:hover::before {
    content: "";
    position: absolute;
    height: 3px;
    right: 0px;
    bottom: -3px;
    left: 0px;
    background-color: var(--white-color);
}


/* Css for logo Tendermate */
.navtags-logo {
    color: #fff;
    position: relative;
    text-decoration: none;
}

.selected::before {
    content: "";
    position: absolute;
    height: 3px;
    right: 0px;
    bottom: -3px;
    left: 0px;
    background-color: var(--white-color);
}

@keyframes line {
    from {}
}

