.form-container {
    max-width: 500px;
    margin: 0 20px;
}

.form {
    font-family: 'Quicksand', sans-serif;
    background-color: #F8F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px 35px 20px 35px;
}

#heading {
    font-size: 2em;
}

.form-input {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    padding: 18px;
    resize: vertical;
}

.row-custom {
    padding-bottom: 24px;
}

.form-label {
    padding-bottom: 12px;
    font-size: 1em;
}

input[type=submit] {
    background-color: #6096BA;
    border-color: #6096BA;
    border-radius: 10px;
    padding: 15px 35px 15px 35px; 
    color: #F8F8F8;
    border-style: none;
    font-size: 1.25em;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    outline-style: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.cancel-button {
    background-color: #F8F8F8 !important;
    border-color: #F8F8F8 !important;
    color: #6096BA !important;
}